* {
    box-sizing: border-box;
  }
  
  html,
  body,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 72px;
    width: 100%;
    background-color: #f76c6c;
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: 0.9;
  }
  
  .logo {
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .header-left{
      float: left;
  }

  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 72px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: #374785;
    border-color: #204d74;
  }


  .sitename{
    position: absolute;
    top: 30px;
    left: 85px;
    font-size: x-large;
    opacity: 0.95;
    cursor: pointer;
}

.tagline{
    position: absolute;
    top: 55px;
    left:0px;
    width: 200%;
    font-weight: bold;
}
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    color: white;
    text-align: center;
    font-weight: bold;
    top: 72%;
    left: 142%;
    margin-left: -40px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /*top-wrapper */
  .top-wrapper {
    display: flex;
    align-items: baseline;
    padding: 104px 0 40px 0;
    padding-left: 48px;
    padding-right: 100px;
    background-color: #a8d0e6;
    background-size: cover;
    float: left;
  }
  
  .top-wrapper p {
    opacity: 1;
  }
/* */
  .heading{
    padding-top: 50px;
    padding-bottom:20px;
    text-align: center;
}

  /*message wrapper*/
  .message-wrapper {
    border-bottom: 1.2px solid #a8d0e6;
    padding-bottom: 50px;
    text-align: center;
    color: #f7f7f7;
    line-height: 1.3;
    opacity: 1;
}
  
  .message {
    padding: 15px 25px;
    font-size: 15px;
    background-color: #f76c6c;
    cursor: pointer;
    color: black;
    font-weight: bold;
    box-shadow: 3.5px 3.5px white;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

/*FOOTER*/  
 .footer-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #f76c6c;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  footer img{
      position: relative;
      top: -4px;
  }
  footer h4{
    position: relative;
    top:25px;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
  }

  footer h5{
    position: relative;
    top:5px;
    left: 59px;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
  }

  /* Modal  */
/* Modal is not visible by default. Modal become visible by changing the display property */
.signup-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }
  
  .fa-times {
    position: absolute;
  
    top: 12px;
    right: 12px;
    color: black;
    cursor: pointer;
  }
  
  .fa-times:hover {
    color: #8491a5;
    background-color: #ccd9ea;
    transition: 0.3s ease-in-out;
  }
  
  #signup-form {
    width: 100%;
  }
  
  #signup-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  #signup-form input {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
  
  #submit-btn {
    display: inline-block;
    padding: 14px 135px;
    background-color: #337ab7;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }
  
  .login-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }

  #login-submit-btn {
    display: inline-block;
    padding: 14px 95px;
    background-color: #337ab7;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }

  /* course*/
  .top-wrapper{
      display: flex;
    padding-top: 104px;
    padding-bottom: 60px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: whitesmoke;
  }

  .course img{
      width:600px;
      height: 305px;
      padding-bottom: 10px;
  }

  h1,h2{
      padding-bottom: 10px;
    }

.content2{
    margin-left: 80px;
    margin-right: 80px;
}

.content2 li{
    line-height: 1.5;
}

.course h3{
    border: 1.5px solid #286090;
    width: 600px;
    padding: 10px;
}

.content2 button{
    position: relative;
    top:40px;
    left: 350px;
    background-color: green;
    color: #fff;
    padding: 10px;
    box-shadow:2px 2.5px rgb(44, 201, 44);
}


.content2 button:active{
    /* background-color:#337ab7; */
    background-color: #2d545e;
    box-shadow: none;
}
